<div class="jumbotron text-center">
	<div class="container">
		<a href="/" class="lang-logo">
			<img src="/sid.jpg">
		</a>
		<h1>Piraya bingbot web UI</h1>
		<%if (typeof name !== 'undefined') { %>
			<h2><%= name %></h2>
		<% } %>
	</div>
</div>
