<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/auth/slack"><span class="glyphicon glyphicon-usd"></span> Show my bings (slack login)</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/logout"><span class="glyphicon glyphicon-book"></span> Logout (remove slack session from server)</a>
      </li>
	</ul>
  </div>
</nav>
