<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <% include ../partials/jumbotron.ejs %>
  
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Bing data</h3>

      <%if (typeof message !== 'undefined') { %>
      <div class="alert alert-danger">
        <strong><%- message %></strong>
      </div>
      <% } %>

      <%if (typeof results !== 'undefined') { %>

      <table class="table table-striped">
    <thead>
      <tr>
          <th>Timestamp</th>
          <th>Nickname</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Article</th>
          <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
      <% results.forEach(function(r) { %>
        <tr>
          <td><%= r.timestamp %></td>
          <td><%= r.nick %></td>
          <td><%= r.first_name %></td>
          <td><%= r.last_name %></td>
          <td><%= r.article %></td>
          <td><%= r.quantity %></td>
        </tr>
        <% }); %>
    </tbody>
  </table>
  <% } %>
    </div>
  </div> <!-- row -->
</div>


</body>
</html>
