<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/sid.jpg">
    </a>
    <h1>Piraya bingbot web UI</h1>
  </div>

  <div class="container">
  <a href='/auth/slack'><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>
  </div>
</div>


</body>
</html>
