<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <% include ../partials/jumbotron.ejs %>
  
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Bing data</h3>
<table class="table table-striped">
    <thead>
      <tr>
          <th>Timestamp</th>
          <th>Article</th>
          <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
      <% bings.forEach(function(bing) { %>
        <tr>
          <td><%= bing.timestamp %></td>
          <td><%= bing.article %></td>
          <td><%= bing.quantity %></td>
        </tr>
        <% }); %>
    </tbody>
  </table>
      
    </div>
  </div> <!-- row -->
</div>


</body>
</html>
